{{- define "main" }}

<article class="team-single">

  {{- /* Header with big photo, name, role */}}
  <header class="team-single-header">
    {{- with .Params.photo }}
    <div class="team-single-photo-container">
      <img class="team-single-photo-large" src="/images/sztab/{{ . }}" alt="{{ $.Title }}">
    </div>
    {{- end }}
    <div class="team-single-info">
      <h1 class="team-single-name">{{ .Title }}</h1>
      {{- with .Params.role }}
      <p class="team-single-role">{{ . }}</p>
      {{- end }}
      {{- with .Params.email}}
      <a href="mailto:{{ . }}" class="team-single-email">{{ . }}</a>
      {{- end }}
      {{- if .Description }}
      <div class="team-single-description">{{ .Description | markdownify }}</div>
      {{- end }}
    </div>
  </header>

  {{- /* Cover image for the post if exists */}}
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}

  {{- /* Table of Contents (optional) */}}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- /* Main content */}}
  <div class="team-single-content post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>

  {{- /* Footer with tags, navigation, and sharing */}}
  <footer class="team-single-footer post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    {{- if gt (len ($.GetTerms $tags)) 0 }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}

    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}

    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . }}
    {{- end }}
  </footer>

  {{- /* Comments section */}}
  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}

</article>

{{- end }}
